# 1. 忽略根目录下的所有文件和文件夹
/*

# 2. 这是一个好习惯：不要忽略 .gitignore 文件本身，否则你以后改了规则 git 也不理你
!.gitignore

# 3. 例外规则：允许上传 web 目录
!/web/

# 4. 重新忽略：在 web 目录下（包括其所有子目录），忽略 __pycache__
/web/**/__pycache__/

# 5. 忽略所有日志文件
*.log